html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p,
ul,
h1,
h2,
h3,
fieldset,
picture {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.input{
  padding: 0;
}



/*ШРИФТЫ*/
@font-face {
  font-family: "Aleo-Bold";
  src: url("./assets/fonts/Aleo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Aleo-BoldItalic";
  src: url("./assets/fonts/Aleo-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aleo-Regular";
  src: url("./assets/fonts/Aleo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Aleo-RegularItalic";
  src: url("./assets/fonts/Aleo-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Magra-Bold";
  src: url("./assets/fonts/Magra-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RedHatText-Medium";
  src: url("./assets/fonts/RedHatText-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "RedHatText-Regular";
  src: url("./assets/fonts/RedHatText-Regular.ttf");
  font-weight: 400;
}



.body-wrap { /*Обертка для фоновых рисунков*/
  width: 100%;
  background:
  url("./assets/img/baskground_header.jpg") top no-repeat,
  url("./assets/img/baskground_stories.jpg") bottom no-repeat;
  background-size: 1440px auto;
  background-color: #FFFFFF;
}

.content-wrap { /*ограничевает контент по ширине и центрирует его*/
  max-width: 1440px;
  margin: 0 auto;
}

.header { /*стили хэдра*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 8.3% 24px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
  background-image: url("./assets/svg/logo.svg");
  background-size: 30px;
  background-repeat: no-repeat;
}

.logo-headline {
  padding-left: 38px;
  font-family: "Magra", "Magra-Bold", sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  color: #FFFFFF;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding-left: 42px;
}

.nav__item:first-of-type {
  padding-left: 0;
}

.nav__link,
.copyright {
  font-family: "Red Hat Text", "RedHatText-Medium", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #FFFFFF;
}

.mobile-menu__container {
  display: none;
}

.button__login {
  margin-left: 2%;
  padding: 10px 30px;
  font-family: "Red Hat Text", "RedHatText-Medium", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #FFFFFF;
  background: #0D606F;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
}

/*появляющееся меню*/
.active { /*overlay*/
  display: block;
  position: absolute;
  z-index: 100;
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: right 0.8s;
}

.login__pop-up {
  position: absolute;
  top: -1000px; left: 0; right: 0;
  transition: top 0.8s;
  margin: 84px auto 0;
  z-index: 110;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
/*   align-items: center; */
  max-width: 650px;
  width: 100%;
  padding: 25px 45px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.visible{ /*Login pop up/Sign up pop up*/
  position: absolute;
  top: 90px; left: 0; right: 0;
  transition: top 0.8s;
}

.login__caption {
  font-family: "Aleo", "Aleo-Bold", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #0D606F;
  margin-bottom: 30px;
}

.toggle {
  display: flex;
  flex-direction: column;
}

.remove {
  display: none;
}

.Facebook {
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: "Red Hat Text", "RedHatText-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 15px 0 15px 39px;
  background-image: url("./assets/svg/Facebook-Logo.svg");
  background-position: 30.5%;
  background-size: 24px;
  background-repeat: no-repeat;
  background-color: #1877F2;
  margin-bottom: 20px;
}

.Google {
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: "Red Hat Text", "RedHatText-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #0D606F;
  padding: 15px 0 15px 39px;
  background-image: url("./assets/svg/Google-Logo.svg");
  background-position: 32.5%;
  background-size: 24px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.login--span {
  margin: 0 9px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  font-family: "Aleo", "Aleo-Bold", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
}

.login--span::before {
  content: "";
  width: 100%;
  max-width: 261px;
  height: 1px;
  background-color: #0D606F80;
  position: absolute;
  left: 45px;
  top: 267px;
}

.login--span::after {
  content: "";
  width: 100%;
  max-width: 261px;
  height: 1px;
  background-color: #0D606F80;
  position: absolute;
  right: 45px;
  top: 267px;
}

.form__signin {
  margin: 10px 0;
}

.form__email {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Aleo", "Aleo-Regular", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
  margin-bottom: 5px;
}

.form__input {
  box-sizing: border-box;
  padding: 18px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  outline: 0; /*убирает рамку плейсхолдера*/
  font-family: "Aleo", "Aleo-Regular", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
  width: 100%;
}

.form__button {
  margin-top: 5px;
  box-sizing: border-box;
  padding: 14px;
  color: #0D606F;
  background: #0D606F;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  outline: 0; /*убирает рамку плейсхолдера*/
  font-family: "Red Hat Text", "RedHatText-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  width: 100%;
}

.login__text {
  font-family: "Aleo", "Aleo-Bold", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  line-height: 18px;
  color: #0D606F80;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.login__text:last-of-type {
  margin-top: 26px;
  padding-top: 20px;
  border-top: 1px solid rgba(13, 96, 111, 0.5);
}

.login__text--highlight{
  color: #0D606F;
  text-decoration: underline;
}

.preview {
  margin: 32px 8.3% 302px;
  max-width: 892px;
}

.inner {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Aleo", "Aleo-Bold", serif;
  font-style: normal;
  font-size: 80px;
  line-height: 96px;
  font-weight: 700;
  color: #FFFFFF;
}

.subtitle {
  padding: 32px 0 46px;
  font-family: "Aleo", "Aleo-BoldItalic", serif;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.search-form {
  padding-bottom: 30px;
}

.search-form__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form__info {
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 16px;
}

.search-form__field {
  padding-left: 23px;
  font-family: "Aleo", "Aleo-RegularItalic", serif;
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F2785C;
  background-color: transparent;
  border: none;
  outline: 0; /*убирает рамку плейсхолдера*/
}

.search-form__field::placeholder {
  font-family: "Aleo", "Aleo-RegularItalic", serif;
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F2785C;
  border: none;
}

.search-form__submit {
  padding: 14px 33px;
  font-family: "Red Hat Text", "RedHatText-Medium", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #FFFFFF;
  background: #0D606F;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
}

.steps {
  margin-bottom: 97px;
  padding: 0 9.1%;
}

.caption {
  margin-bottom: 40px;
  font-family: "Red Hat Text", "RedHatText-Medium", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 53px;
  font-weight: 500;
  text-align: center;
  color: #F2785C;
  text-transform: uppercase;
}

.step__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.step__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step__item:nth-of-type(2) {
  margin-left: 70px;
}

.step__ico {
  margin: 0 auto 29px;
  padding: 24px 25px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: #F2785C;
}

.desc {
  font-family: "Aleo", "Aleo-Regular", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #0D606F;
}

.destinations {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.caption--destinations {
  margin-bottom: 0;
}

.slider__wrapper { /*внешняя обертка для всего слайдера*/
  position: relative;
  padding-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden; /*скрывает "лишнее" в слайдере*/
}

.slider__list { /*обертка для картинок*/
  position: relative;
  left: -540px;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}

.slider__arrow{
  display: none;
}

.slider__item { /*картинки с подписями*/
  position: relative;
  margin-left: 60px;
}

.slider__item:first-of-type {
  margin-left: 0;
}

.country-img {
  max-width: 800px;
  height: auto;
  border-radius: 16px;
}

.country-name {
  position: absolute;
  bottom: 44px;
  left: 15px;
  z-index: 2;
  font-family: "Red Hat Text", "RedHatText-Medium", sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider__controls { /*кнопки слайдера*/
  margin: 15px auto 0;
}

.button-inactive{
  padding: 10px;
  background-color: rgba(242, 120, 92, 0.5);
  border: none;
  border-radius: 50px;
}

.button-inactive:nth-of-type(2){
  margin: 0 5px;
  padding: 10px;
  background-color: #F2785C;
  border: none;
  border-radius: 50px;
}

/*.button-active {
  margin: 0 5px;
  padding: 10px;
  background-color: #F2785C;
  border: none;
  border-radius: 50px;
}*/

/*анимация карусели*/
/*@keyframes move-left {
  from {left: -540px;}
  to {left: 0;}
}
.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

@keyframes move-right {
  from {left: -540px;}
  to {left: -1080px;}
}
.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}*/

.more {
  margin: 40px auto 0;
  padding: 14px 36px 14px 80px;
  font-family: "Red Hat Text", "RedHatText-Medium", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #FFFFFF;
  background-image: url("./assets/svg/arrow.svg");
  background-position: 32px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #0D606F;
  box-shadow: 0 2px 3px rgba(13, 96, 111, 0.16);
  border: none;
  border-radius: 10px;
}

.stories__inner { /*внутренняя обертка для всех стори*/
  padding: 0 8.3% 40px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__list {/*обертка для конкретной стори*/
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}

.stories__list:first-of-type {
  padding-top: 40px;
}

.stories__img {
  max-width: 400px;
  height: auto;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories__item {
  padding: 0 10px 0 40px;
}

.stories__caption {
  margin-bottom: 24px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Aleo", "Aleo-Regular", serif;
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
  color: #0D606F;
}

.stories__desc {
  margin: 0;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Aleo", "Aleo-Regular", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #0D606F;
}

.stories__link {
  font-family: "Aleo", "Aleo-Bold", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #0D606F;
  text-decoration-line: underline;
}

.more--stories {
  margin-top: 35px;
}

.footer {
  padding: 0 8.3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-left: 27.3%;
}

.social__item {
  margin-left: 20px;
  padding: 13.5px 0 10px;
  max-width: 34px;
}

.social__item:first-of-type {
  margin-left: 0;
}



@media (hover: hover) and (pointer: fine) { /*ховер эффекты*/
  .nav__link:hover { /*эффекты меню-бара*/
    color: #083942;
    transition: 0.3s;
    cursor: pointer;
  }

  .Facebook:hover,
  .Google:hover,
  .form__button:hover,
  .register:hover {
    filter: drop-shadow(0 0 15px #083942);
    transition: 0.3s;
    cursor: pointer;
  }

  .button__login:hover, /*эффекты кнопок*/
  .search-form__submit:hover,
  .more:hover {
    background-color: #083942;
    transition: 0.3s;
    cursor: pointer;
  }

  .step__item:hover, /*необязательные красивости*/
  .slider__item:hover,
  .stories__link:hover,
  .social__link:hover {
    transition: 0.3s;
    filter: drop-shadow(0 0 15px #083942);
    cursor: pointer;
  }

  .step__item:hover .svg { /*эффекты свг в иконках шагов*/
    transition: 0.3s;
    fill: #083942;
    cursor: pointer;
  }

  .social__item:hover .svg { /*выделение иконок соцсетей*/
    transition: 0.3s;
    fill: #083942;
    cursor: pointer;
  }

  .social__item:hover .svg2 { /*выделение иконки ютуба*/
    transition: 0.3s;
    stroke: #083942;
    cursor: pointer;
  }
}



@media (max-width: 768px) {
  .logo {
    background-size: 20px;
  }

  .logo-headline {
    padding-left: 28px;
    font-size: 22px;
    line-height: 21px;
  }

  .nav__item {
    padding-left: 3%;
  }

  .nav__link {
    font-size: 15px;
    line-height: 20px;
  }

  .preview {
    margin-bottom: 150px;
  }

  .steps {
    margin-bottom: 80px;
  }

  .step__item:nth-of-type(2) {
    margin-left: 4.9%;
    margin-right: 1%;
  }

  .country-img {
    max-width: 500px;
  }

  .slider__list {
    left: -425px;
  }

  .stories__caption {
    margin-bottom: 0;
  }

  .stories__img {
    max-width: 250px;
  }
}



@media (max-width: 550px) {
  .body-wrap {
    width: 100%;
    background:
    url("./assets/img-mob/background-header-mobile.jpg") top no-repeat,
    url("./assets/img-mob/background-stories-mobile.jpg")bottom no-repeat;
    background-size: 550px auto;
    background-color: #FFFFFF;
  }

  .header { /*стили хэдра*/
    padding: 41px 16px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    background: linear-gradient(rgba(13, 96, 111, 1), rgba(13, 96, 111, 0));
  }

  .logo {
    background-image: url("./assets/svg/logo.svg");
    background-size: 30px;
    background-repeat: no-repeat;
  }

  .logo-headline {
    padding-left: 38px;
    font-size: 24px;
    line-height: 29px;
  }

  .nav {
    background-image: url("./assets/svg/burger-menu-outline.svg");
    background-size: 50px;
    background-repeat: no-repeat;
    padding: 25px;
    margin-right: 4px;
  }

  .mobile-menu__container{
    display: block;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    top: 0;
    right: -300px;
    transition: right 0.8s;
  }

  .change {
    right: 0;
    display: block;
  }

  .mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 44px 15px 30px 44px;
    background-color: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
  }

  .mobile-nav__item {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .mobile-nav__item:last-of-type {
    margin-bottom: 0;
  }

  .mobile-nav__link,
  .account {
    font-family: "Red Hat Text", "RedHatText-Medium", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #FFFFFF;
  }

  .exit {
    position: absolute;
    top: 8px;
    right: 127px;
    z-index: 110;
    padding: 15px;
    background-image: url("./assets/svg/clarity_window-close-line.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  .Facebook {
    background-position: 20.5%;
  }

  .Google {
    background-position: 22.5%;
  }

  .login--span::before,
  .login--span::after {
    max-width: 150px;
  }

  .nav__list,
  .button__login,
  .subtitle,
  .copyright {
    display: none;
  }

  .preview {
    margin: 10px 15px 20px;
  }

  .title {
    width: 90%;
    font-size: 40px;
    line-height: 53px;
  }

  .search-form {
    padding: 20px 0 61px;
  }

  .search-form__info {
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 16px;
  }

  .search-form__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-form__field,
  .search-form__field::placeholder {
    max-width: 170px;
    padding: 0;
    padding-left: 7.5px;
    font-size: 16px;
    line-height: 21px;
  }

  .search-form__submit {
    padding: 7.5px 9px;
    font-size: 16px;
    line-height: 21px;
  }

  .steps {
    margin-bottom: 20px;
    padding: 0 15px;
  }

  .caption {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 42px;
  }

  .step__list {
    margin: 0 20px 30px;
    justify-content: center;
  }

  .step__item {
    align-items: center;
  }

  .step__ico {
    margin-bottom: 18px;
    padding: 16px 17px;
  }

  .step__ico svg {
    width: 35px;
    height: 35px;
  }

  .desc {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .destinations {
    margin-bottom: 50px;
  }

  .slider__wrapper { /*внешняя обертка для всего слайдера*/
    margin: 0 15px 25px;
    padding: 0;
    overflow: visible;
    flex-direction: row;
    align-items: center;
  }

  .slider__arrow{
    width: 30px;
    position: absolute;
    z-index: 2;
  }

  .left{
    background-image: url("./assets/svg/ep_arrow-left.svg");
    display: block;
    padding: 15px 0;
    background-size: 30px;
    background-repeat: no-repeat;
    left: 0;
  }

  .right{
    background-image: url("./assets/svg/ep_arrow-right.svg");
    display: block;
    padding: 15px 0;
    background-size: 30px;
    background-repeat: no-repeat;
    right: 0;
  }

  .slider__list { /*обертка для картинок*/
    left: 0px;
    max-width: 450px;
    margin: 0 0 15px;
    overflow: hidden;
  }

  .slider__item { /*картинки с подписями*/
    margin-left: 20px;
  }

  .country-img {
    max-width: 360px;
  }

  .country-name {
    top: 8px;
    left: 15px;
    font-size: 20px;
    line-height: 26px;
  }

  .slider__controls { /*кнопки-точки слайдера*/
    position: absolute;
    z-index: 2;
    bottom: -10px;
    margin: 0 auto;
  }

  .button-inactive,
  .button-inactive:nth-of-type(2) {
    margin: 0;
    padding: 4px;
    background-color: rgba(242, 120, 92, 0.5);
    border: none;
    border-radius: 50px;
  }

  .button-inactive:nth-of-type(1){
    margin: 0 2px;
    padding: 4px;
    background-color: #F2785C;
    border: none;
    border-radius: 50px;
  }

  .more {
    margin: 0 auto;
    padding: 7.5px 12px 7.5px 33px;
    font-size: 16px;
    line-height: 21px;
    background-position: 12px;
    background-size: 15px;
  }

  .stories__inner { /*внутренняя обертка для всех стори*/
    padding: 10px 15px 25px;
  }

  .stories__list {/*обертка для конкретной стори*/
    padding-top: 15px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .stories__list:last-of-type {
    margin-bottom: 40px;
  }

  .stories__img {
    max-width: 155px;
    height: auto;
  }

  .stories__item {
    padding: 0 0 0 10px;
  }

  .stories__caption {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  .stories__desc {
    font-size: 16px;
    line-height: 21px;
  }

  .stories__link {
    font-size: 16px;
    line-height: 21px;
  }

  .social {
    padding-left: 7px;
  }

  .footer {
    justify-content: center;
  }

  .social__item {
    padding: 15px 0 11px;
    max-width: 33px;
    margin-left: 21px;
  }
}



/*landscape phones, 320-390px*/
@media (max-width: 390px) {
  .content-wrap { /*ограничевает контент по ширине и центрирует его*/
    max-width: 390px;
    margin: 0 auto;
  }

  .body-wrap {
    background-size: 390px auto;
    border-radius: 30px;
  }

  .logo-headline {
    padding-left: 38px;
    font-size: 0;
    line-height: 29px;
  }

  .nav {
    background-size: 35px;
    padding: 17px;
  }

  .Facebook {
    background-position: 10.5%;
  }

  .Google {
    background-position: 12.5%;
  }

  .login--span::before,
  .login--span::after {
    max-width: 120px;
    top: 307px;
  }

  .header {
    border-radius: 30px;
  }

  .title {
    display: none;
  }

  .search-form {
    padding: 48px 0 61px;
  }

  .search-form__field,
  .search-form__field::placeholder {
    max-width: 170px;
    padding: 0;
    padding-left: 4px;
    font-size: 14px;
    line-height: 17px;
  }

  .search-form__submit {
    padding: 7.5px 9px;
    font-size: 11px;
    line-height: 15px;
  }

  .caption {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
  }

  .step__list {
    margin: 20px 0 0 0;
    justify-content: space-between;
  }

  .step__item:nth-of-type(2) {
    padding-left: 44px;
    padding-right: 26px;
    margin-left: 0;
  }

  .step__item:nth-of-type(1) .step__ico {
    margin-left: 0;
  }

  .step__item:nth-of-type(3) .step__ico {
    margin-right: 0px;
  }

  .desc {
    font-size: 10px;
    line-height: 12px;
  }

  .step__item:nth-of-type(1) .desc {
    text-align: start;
    max-width: 74px;
  }

  .step__item:nth-of-type(2) .desc {
    text-align: center;
  }

  .step__item:nth-of-type(3) .desc {
    text-align: end;
    max-width: 90px;
  }

  .destinations {
    margin-bottom: 20px;
  }

  .slider__wrapper { /*внешняя обертка для всего слайдера*/
    margin: 11px 0 5px;
    padding: 0 15px;
    max-width: 100%;
  }

  .slider__arrow{
    display: block;
    position: absolute;
    z-index: 2;
    background-size: 30px;
    background-repeat: no-repeat;
  }

  .left{
    background-image: url("./assets/svg/ep_arrow-left.svg");
    left: 20px;
  }

  .right{
    background-image: url("./assets/svg/ep_arrow-right.svg");
    right: 20px;
  }

  .slider__list { /*обертка для картинок*/
    left: 0px;
    margin: 0;
  }

  .slider__item { /*картинки с подписями*/
    margin-left: 20px;
  }

  .country-img {
    max-width: 360px;
  }

  .country-name {
    top: 8px;
    left: 15px;
    font-size: 20px;
    line-height: 26px;
  }

  .slider__controls { /*кнопки-точки слайдера*/
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 177px;
    margin: 0 auto;
  }

  .button-inactive,
  .button-inactive:nth-of-type(2) {
    margin: 0;
    padding: 4px;
    background-color: rgba(242, 120, 92, 0.5);
    border: none;
    border-radius: 50px;
  }

  .button-inactive:nth-of-type(1){
    margin: 0 2px;
    padding: 4px;
    background-color: #F2785C;
    border: none;
    border-radius: 50px;
  }

  .country-img {
    max-width: 360px;
  }

  .more {
    padding: 7.5px 12px 7.5px 28px;
    font-size: 11px;
    line-height: 15px;
    background-size: 10px;
  }

  .stories__inner { /*внутренняя обертка для всех стори*/
    padding: 10px 15px 13px;
  }

  .stories__list {/*обертка для конкретной стори*/
    padding-top: 10px;
    max-width: 100%;
    margin-bottom: 0;
  }

  .stories__list:first-of-type {
    padding-top: 0;
  }

  .stories__list:last-of-type {
    margin-bottom: 8px;
  }

  .stories__caption {
    margin-bottom: 0;
    padding-top: 5px; /*а если 2px вместо 5px - идеально*/
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
  }

  .stories__desc {
    -webkit-line-clamp: 8;
    font-size: 9px;
    line-height: 11px;
  }

  .stories__link {
    font-size: 9px;
    line-height: 11px;
  }
}
