html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0px auto;
  max-width: 1440px;
  border: 1px solid red;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
ul,
h1,
h2 {
  margin: 0px;
}

.wrap{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  background-image: url(./assets/img/baskground_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 25px 120px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0 0 10px #0D606F;
}
.logo{
  background-image: url(./assets/svg/logo.svg);
  background-size: 30px;
  background-repeat: no-repeat;
}
.logo-headline{
  padding-left: 36px;
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.nav__item{
  padding-left: 42px;
}
.nav__item:first-child{
  padding-left: 0px;
}
.nav__link{
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.login{
  padding: 10px 30px;
  background: #0D606F;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.content{
  padding: 32px 428px 221px 120px;
}
.inner{
  display: flex;
  flex-direction: column;
  overflow: hidden; /*скрывает "лишнее" в слайдере*/
}
.title{
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}
.subtitle{
  padding: 46px 0px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.form{
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.search-field{
  padding: 32px 41px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  background: rgba(0, 0, 0, 0);
  border: none;
}
.search-field::-webkit-input-placeholder {color:#F2785C;}
.search-field::-moz-placeholder          {color:#F2785C;}/* Firefox 19+ */
.search-field:-moz-placeholder           {color:#F2785C;}/* Firefox 18- */
.search-field:-ms-input-placeholder      {color:#F2785C;}

.button-search{
  margin: 18px 18px 18px 45px;
  padding: 10px 32px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.step__card{
  margin-bottom: 80px;
  padding: 0px 120px;
}
.caption{
  margin-bottom: 40px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #F2785C;
}
.step__list{
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
}
.step__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step__ico{
  margin: 0 auto 30px;
  padding: 50px;
  background: #F2785C;
  border-radius: 10px;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}
.step-1{
  background-image: url(./assets/svg/ToDo.svg);
}
.step-2{
  background-image: url(./assets/svg/dates.svg);
}
.step-3{
  background-image: url(./assets/svg/recomendation.svg);
}
.desc{
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  color: #0D606F;
  
}

.destination{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.slider__wrapper{ /*обертка для всего слайдера*/
  display: flex;
  justify-content: center;
}
.slider__list{ /*обертка для картинок*/
  display: flex;
  justify-content: space-between;
}
.slider__item{ /*картинки с подписями*/
  position: relative;
  margin-left: 60px;
}
.slider__item:first-child{
  margin-left: 0px;
}
.country-img{
  max-width: 800px;
  border-radius: 10px;
}
.country-name{
  position: absolute;
  left: 15px;
  bottom: 40px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.slider__controls{ /*кнопки слайдера*/
  margin: 25px auto 0px;
/*тут будет стилизация кнопок управления слайдера*/
}
.more{
  margin: 40px auto;
  padding: 14px 31px 14px 81px;
  background: #0D606F;
  box-shadow: 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  background-image: url(./assets/svg/arrow.svg);
  background-position: 32px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.stories{
  /*position: relative;
  /*position: absolute;
  top: 40px;
  background-image: url(./assets/img/baskground_stories.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;*/
}
.stories__wraper{ /*обертка для всех стори*/
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  padding: 0px 120px;
  background-color: rgba(255, 255, 255, 0.7);
}
.stories__list{/*обертка для конкретной стори*/
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.stories__list:first-child{
  padding-top: 40px;
}

.stories__img{
  filter: drop-shadow(0px 4px 4px #0D606F);
  max-width: 400px;
  border-radius: 16px;
}
.stories__item{
  padding-left: 40px;
  padding-right: 10px;
}
.stories__caption{
  padding-bottom: 24px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}
.stories__desc{
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
.stories__link{
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0D606F;
}
