html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0px auto;
  max-width: 1440px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
ul,
h1,
h2,
h3 {
  margin: 0px;
}

.wrap{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  background-image: url(./assets/img/baskground_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 120px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0 0 10px #0D606F;
}
.logo{
  background-image: url(./assets/svg/logo.svg);
  background-size: 30px;
  background-repeat: no-repeat;
}
.logo-headline{
  padding-left: 36px;
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.nav__list{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.nav__item{
  padding-left: 42px;
}
.nav__item:first-child{
  padding-left: 0px;
}
.nav__link{
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  cursor: pointer;
  color:  #083942;
  transition: .3s;
}
.login{
  margin-left: 30px;
  padding: 10px 30px;
  background: #0D606F;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.login:hover,
.login:focus,
.login:active,
.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active,
.more:hover,
.more:focus,
.more:active {
  cursor: pointer;
  background-color: #083942;
  transition: .3s;
}

.preview{
  padding: 32px 428px 225px 120px;
}
.inner{
  display: flex;
  flex-direction: column;
}
.title{
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}
.subtitle{
  padding: 30px 0px 46px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.search-form{
  padding-bottom: 30px;
}
.search-form__wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-form__info{
  background-color: rgba(255, 255, 255, 0.7);
  border: 0px;
  border-radius: 16px;
  padding: 18px;
}
.search-form__field{
  background-color: transparent;
  border: none;
  outline: 0px; /*убирает рамку плейсхолдера*/
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  width: 500px;
  padding-left: 23px;
  outline: 0px;
}
.search-form__field::placeholder{
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
}
.search-form__submit{
  padding: 14px 33px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: 0px;
}


.steps{
  margin-bottom: 80px;
  padding: 0px 120px;
}
.caption{
  margin-bottom: 40px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #F2785C;
  text-transform: uppercase;
}
.step__list{
  padding: 0px 10px 20px;
  display: flex;
  justify-content: space-between;
}
.step__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step__item:hover,
.step__item:active,
.step__item:focus,
.slider__item:hover,
.slider__item:active,
.slider__item:focus,
.stories__list:hover,
.stories__list:active,
.stories__list:focus,
.social__link:hover,
.social__link:active,
.social__link:focus {
  cursor: pointer;
  filter: drop-shadow(0 0 5px #083942);
  transition: .3s;
}
.step__ico{
  margin: 0 auto 30px;
  padding: 50px;
  background: #F2785C;
  border-radius: 16px;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}
.step-1{
  background-image: url(./assets/svg/ToDo.svg);
}
.step-2{
  background-image: url(./assets/svg/dates.svg);
}
.step-3{
  background-image: url(./assets/svg/recomendation.svg);
}
.desc{
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  color: #0D606F;
}


.destinations{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.slider__wrapper{ /*обертка для всего слайдера*/
  /*display: flex;
  justify-content: center;*/
  width: 1440px;
  overflow: hidden; /*скрывает "лишнее" в слайдере*/
}
.slider__list{ /*обертка для картинок*/
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -540px;
}
.slider__item{ /*картинки с подписями*/
  position: relative;
  margin-left: 60px;
}
.slider__item:first-child{
  margin-left: 0px;
}
.country-img{
  max-width: 800px;
  border-radius: 16px;
}
.country-name{
  position: absolute;
  left: 15px;
  bottom: 40px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.slider__controls{ /*кнопки слайдера*/
  margin: 15px auto 0px;
}
.button-left,
.button-right{
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 50px;
  padding: 10px;
  border: none;
}
.button-center{
  background-color: #F2785C;
  border-radius: 50px;
  padding: 10px;
  border: none;
  margin: 0px 10px;
}

/*анимация карусели*/
/*@keyframes move-left{
  from {left: -540px;}
  to {left: 0px;}
}
.transition-left{
  animation-name: move-left;
  animation-duration: 5s;
}

@keyframes move-right{
  from {left: -540px;}
  to {left: -1080px;}
}
.transition-right{
  animation-name: move-right;
  animation-duration: 5s;
}*/

.more{
  margin: 40px auto 0px;
  padding: 14px 36px 14px 85px;
  background: #0D606F;
  box-shadow: 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  background-image: url(./assets/svg/arrow.svg);
  background-position: 32px;
  background-size: 40px;
  background-repeat: no-repeat;
}


.stories__wraper{ /*внешняя обертка для всех стори*/
  background-image: url(./assets/img/baskground_stories.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.stories__inner{ /*внутренняя обертка для всех стори*/
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding: 0px 120px 40px;
  background-color: rgba(255, 255, 255, 0.7);
}
.stories__list{/*обертка для конкретной стори*/
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.stories__list:first-child{
  padding-top: 40px;
}
.stories__img{
  filter: drop-shadow(0px 4px 4px #0D606F);
  max-width: 400px;
  border-radius: 16px;
}
.stories__item{
  padding-left: 40px;
  padding-right: 10px;
}
.stories__caption{
  padding-bottom: 24px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}
.stories__desc{
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
.stories__link{
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0D606F;
}


.footer{
  background-image: url(./assets/img/baskground_stories.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.footer__wraper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 120px;
}
.copyright{
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.social{
  display: flex;
  justify-content: space-between;
  padding-left: 328px;
}
.social__item{
  margin-left: 20px;
  padding: 14px 0px 10px;
  max-width: 34px;
}
.social__item:first-child{
  margin-left: 0px;
}
/*.social__link:hover,
.social__link:active,
.social__link:focus {
  cursor: pointer;
  filter: drop-shadow(0 0 5px #083942);
  transition: .3s;
}*/