html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p,
ul,
h1,
h2,
h3,
fieldset,
picture {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.input{
  padding: 0;
}

.body-wrap { /*Обертка для фоновых рисунков*/
  width: 100%;
  background:
  url("./assets/img/baskground_header.jpg") top no-repeat, 
  url("./assets/img/baskground_stories.jpg")bottom no-repeat;
  background-size: 1440px auto;
  background-color: #FFFFFF;
}

.content-wrap { /*ограничевает контент по ширине и центрирует его по центру*/
  max-width: 1440px;
  margin: 0 auto;
}

.header { /*стили хэдра*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 120px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
  background-image: url("./assets/svg/logo.svg");
  background-size: 30px;
  background-repeat: no-repeat;
}

.logo-headline {
  padding-left: 38px;
  font-family: "Magra", sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  color: #FFFFFF;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding-left: 42px;
}

.nav__item:first-of-type {
  padding-left: 0;
}

.nav__link,
.copyright {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #FFFFFF;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  color: #083942;
  transition: 0.3s;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

.login {
  margin-left: 30px;
  padding: 10px 30px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #FFFFFF;
  background: #0D606F;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
}

.login:hover,
.login:focus,
.login:active,
.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active,
.more:hover,
.more:focus,
.more:active {
  background-color: #083942;
  transition: 0.3s;
  cursor: pointer;
}


.preview {
  margin: 32px 120px 300px;
  max-width: 892px;
}

.inner {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Aleo", serif;
  font-style: normal;
  font-size: 80px;
  line-height: 96px;
  font-weight: 700;
  color: #FFFFFF;
}

.subtitle {
  padding: 33px 0 45px;
  font-family: "Aleo", serif;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.search-form {
  padding-bottom: 30px;
}

.search-form__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form__info {
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 16px;
}

.search-form__field {
  padding-left: 23px;
  font-family: "Aleo", serif;
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F2785C;
  background-color: transparent;
  border: none;
  outline: 0; /*убирает рамку плейсхолдера*/
}

.search-form__field::placeholder {
  font-family: "Aleo", serif;
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F2785C;
  border: none;
}

.search-form__submit {
  padding: 14px 33px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #FFFFFF;
  background: #0D606F;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
}


.steps {
  margin-bottom: 100px;
  padding: 0 131px;
}

.caption {
  margin-bottom: 40px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 53px;
  font-weight: 500;
  text-align: center;
  color: #F2785C;
  text-transform: uppercase;
}

.step__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.step__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step__item:nth-of-type(2) {
  margin-left: 70px;
}

.step__item:hover,
.step__item:active,
.step__item:focus,
.slider__item:hover,
.slider__item:active,
.slider__item:focus,
.stories__img:hover,
.stories__img:active,
.stories__img:focus,
.stories__link:hover,
.stories__link:active,
.stories__link:focus,
.social__link:hover,
.social__link:active,
.social__link:focus {
  transition: 0.3s;
  filter: drop-shadow(0 0 15px #083942);
  cursor: pointer;
}

.step__ico {
  margin: 0 auto 30px;
  padding: 50px;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: #F2785C;
}

.step-1 {
  background-image: url("./assets/svg/ToDo.svg");
}

.step-2 {
  background-image: url("./assets/svg/dates.svg");
}

.step-3 {
  background-image: url("./assets/svg/recomendation.svg");
}

.desc {
  font-family: "Aleo", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #0D606F;
}


.destinations {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider__wrapper { /*внешняя обертка для всего слайдера*/
  padding-top: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden; /*скрывает "лишнее" в слайдере*/
}

.slider__list { /*обертка для картинок*/
  position: relative;
  left: -540px;
  display: flex;
  justify-content: space-between;
}

.slider__arrow{
  display: none;
}

.slider__item { /*картинки с подписями*/
  position: relative;
  margin-left: 60px;
}

.slider__item:first-of-type {
  margin-left: 0;
}

.country-img {
  max-width: 800px;
  height: auto;
  border-radius: 16px;
}

.country-name {
  position: absolute;
  bottom: 45px;
  left: 15px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider__controls { /*кнопки слайдера*/
  margin: 15px auto 0;
}

.button-inactive{
  padding: 10px;
  background-color: rgba(242, 120, 92, 0.5);
  border: none;
  border-radius: 50px;
}

.button-inactive:nth-of-type(2){
  margin: 0 5px;
  padding: 10px;
  background-color: #F2785C;
  border: none;
  border-radius: 50px;
}

/*.button-active {
  margin: 0 5px;
  padding: 10px;
  background-color: #F2785C;
  border: none;
  border-radius: 50px;
}*/

/*анимация карусели*/
/*@keyframes move-left {
  from {left: -540px;}
  to {left: 0;}
}
.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

@keyframes move-right {
  from {left: -540px;}
  to {left: -1080px;}
}
.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}*/

.more {
  margin: 40px auto 0;
  padding: 14px 36px 14px 80px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #FFFFFF;
  background-image: url("./assets/svg/arrow.svg");
  background-position: 32px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #0D606F;
  box-shadow: 0 2px 3px rgba(13, 96, 111, 0.16);
  border: none;
  border-radius: 10px;
}


.stories__inner { /*внутренняя обертка для всех стори*/
  padding: 0 120px 40px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__list {/*обертка для конкретной стори*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

.stories__list:first-of-type {
  padding-top: 40px;
}

.stories__img {
  max-width: 400px;
  height: auto;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories__item {
  padding: 0 40px 0;
}

.stories__caption {
  padding-bottom: 24px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
  color: #0D606F;
}

.stories__desc {
  margin: 0;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Aleo", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #0D606F;
}

.stories__link {
  font-family: "Aleo", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #0D606F;
  text-decoration-line: underline;
}


.footer {
  padding: 0 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-left: 328px;
}

.social__item {
  margin-left: 20px;
  padding: 13px 0 10px;
  max-width: 34px;
}

.social__item:first-of-type {
  margin-left: 0;
}

/*.social__link:hover, /* для svg*/
/*.social__link:active,
.social__link:focus {
  transition: 0.3s;
  fill: #083942;
  cursor: pointer;
}*/


/*landscape phones, 320-390px*/
@media screen and (min-width: 319px) and (max-width: 390px) {
  .content-wrap { /*ограничевает контент по ширине и центрирует его по центру*/
    max-width: 390px;
    margin: 0 auto;
  }

  .body-wrap { /*Обертка для фоновых рисунков*/
    width: 100%;
    background:
    url("./assets/img-mob/background-header-mobile.jpg") top no-repeat, 
    url("./assets/img-mob/background-stories-mobile.jpg")bottom no-repeat;
    background-size: 390px auto;
    background-color: #FFFFFF;
    border-radius: 30px;
  }

   .header { /*стили хэдра*/
    padding: 41px 16px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    background: linear-gradient(rgba(13, 96, 111, 1), rgba(13, 96, 111, 0));
    border-radius: 30px;
  }
  
  .logo {
    background-image: url("./assets/svg/logo.svg");
    background-size: 30px;
    background-repeat: no-repeat;
  }
  
  .logo-headline {
    font-size: 0px;
    line-height: 30px;
  }
  
  .nav {
    background-image: url("./assets/svg/burger-menu-outline.svg");
    background-size: 35px;
    background-repeat: no-repeat;
    padding: 17px;
    margin-right: 4px;
  }
  
  
  /*появляющееся меню*/
  /*.mobile-menu {
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    
  }
  
  .mobile-nav {
    display: flex;
  }

  .mobile-nav__list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 44px 15px 30px 44px;
    background-color: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;;
  }
  
  .mobile-nav__item {
    padding-left: 0;
    margin-bottom: 10px;
  }
  
  .mobile-nav__item:last-of-type {
    margin-bottom: 0;
  }
  
  .mobile-nav__link {
    font-family: "Red Hat Text", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #FFFFFF;
  }
  .exit {
    position: absolute;
    top: 8px;
    right: 127px;
    z-index: 9999;
    padding: 15px;
    background-image: url("./assets/svg/clarity_window-close-line.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }
  */
  
  .nav__list,
  .login,
  .title,
  .subtitle,
  .copyright {
    display: none;
  }

  .preview {
    margin: 0 15px 20px;
  }
  
  .search-form {
    padding: 58px 0 61px;
  }
  
  .search-form__info {
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 16px;
  }
  .search-form__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-form__field,
  .search-form__field::placeholder {
    max-width: 170px;
    padding: 0;
    padding-left: 7.5px;
    font-size: 14px;
    line-height: 17px;
  }
  
  .search-form__submit {
    padding: 7.5px 9px;
    font-size: 11px;
    line-height: 15px;
  }


  .steps {
    margin-bottom: 20px;
    padding: 0 15px;
  }
  
  .caption {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
  }
  
  .step__list {
    margin-top: 20px;
  }
  
  .step__item:nth-of-type(2) {
    padding-left: 41px;
    padding-right: 26px;
    margin-left: 0;
  }
  
  .step__ico {
    margin-bottom: 19px;
    padding: 35px;
    background-size: 35px;
  }
  
  .step__item:nth-of-type(1) .step__ico {
    margin-left: 0;
  }
  
  .step__item:nth-of-type(3) .step__ico {
    margin-right: 0px;
  }
  
  .desc {
    font-size: 10px;
    line-height: 12px;
  }
  
  .step__item:nth-of-type(1) .desc {
    text-align: start;
    max-width: 74px;
  }
  
  .step__item:nth-of-type(2) .desc {
    text-align: center;
  }
  
  .step__item:nth-of-type(3) .desc {
    text-align: end;
    max-width: 90px;
  }
  
  .step__item:hover,
  .step__item:active,
  .step__item:focus,
  .slider__item:hover,
  .slider__item:active,
  .slider__item:focus,
  .stories__img:hover,
  .stories__img:active,
  .stories__img:focus,
  .stories__link:hover,
  .stories__link:active,
  .stories__link:focus,
  .social__link:hover,
  .social__link:active,
  .social__link:focus {
    transition: none;
    filter: none;
    cursor: pointer;
  }
  
  
  .destinations {
    margin-bottom: 20px;
  }
  
  .slider__wrapper { /*внешняя обертка для всего слайдера*/
    margin: 10px 0 7px;
    padding: 0 15px;
    max-width: 100%;
  }
  .slider__arrow{
    display: block;
    position: absolute;
    z-index: 2;
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 15px;
  }

  .left{
    background-image: url("./assets/svg/ep_arrow-left.svg");
    left: 20px;
  }
  
  .right{
    background-image: url("./assets/svg/ep_arrow-right.svg");
    right: 20px;
  }

  .slider__list { /*обертка для картинок*/
    left: 0px;
  }
  
  .slider__item { /*картинки с подписями*/
    margin-left: 20px;
  }
  
  .country-img {
    max-width: 360px;
  }
  
  .country-name {
    top: 8px;
    left: 15px;
    font-size: 20px;
    line-height: 26px;
  }
  
  .slider__controls { /*кнопки-точки слайдера*/
    position: absolute;
    bottom: 162px;
    left: 177px;
    margin: 0 auto;
  }
  
  .button-inactive,
  .button-inactive:nth-of-type(2) {
    margin: 0;
    padding: 4px;
    background-color: rgba(242, 120, 92, 0.5);
    border: none;
    border-radius: 50px;
  }



  .button-inactive:nth-of-type(1){
    margin: 0 2px;
    padding: 4px;
    background-color: #F2785C;
    border: none;
    border-radius: 50px;
  }


  /*.button-active {
    margin: 0 2px;
    padding: 4px;
    background-color: #F2785C;
    border: none;
    border-radius: 50px;
  }*/
  
  /*анимация карусели*/
  /*@keyframes move-left {
    from {left: -540px;}
    to {left: 0;}
  }
  .transition-left {
    animation-name: move-left;
    animation-duration: 5s;
  }
  
  @keyframes move-right {
    from {left: -540px;}
    to {left: -1080px;}
  }
  .transition-right {
    animation-name: move-right;
    animation-duration: 5s;
  }*/
  
  .more {
    margin: 0 auto;
    padding: 7.5px 12px 7.5px 28px;
    font-size: 11px;
    line-height: 15px;
    background-position: 12px;
    background-size: 10px;
  }

  
  
  .stories__inner { /*внутренняя обертка для всех стори*/
    padding: 10px 15px 13px;
  }
  
  .stories__list {/*обертка для конкретной стори*/
    padding-top: 10px;
    max-width: 100%;
  }
  
  .stories__list:first-of-type {
    padding-top: 0;
  }

  .stories__list:last-of-type {
    margin-bottom: 7px;
  }

  .stories__img {
    max-width: 155px;
    height: auto;
  }
  
  .stories__item {
    padding: 0 0 0 10px;
  }
  
  .stories__caption {
    padding-top: 5px; /*а если 2px вместо 5px - идеально*/
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
  }
  
  .stories__desc {
    -webkit-line-clamp: 8;
    font-size: 9px;
    line-height: 11px;
  }
  
  .stories__link {
    font-size: 9px;
    line-height: 11px;
  }
  
  .social__item {
    padding: 13px 0 14px; /*а если 13px 0 14px вместо 15px 0 16px - идеально*/
    max-width: 34px;
  }
}


/*tablets, 768px and up (ipad mini)*/
